ion-footer{
  ion-row{
    ion-col{
      text-align: center;
    }
  }
}

ion-slide{
  ion-card{
    height: 90%;
  }
}

.myContent{
  ion-slide{
    bottom: 0;
  }
}

ion-col{
  ion-button{
    width: 100%;
  }
}

.lifeline{
  text-align: center;
  ion-icon{
    font-size: 40px;
  }
}

ion-col{
  div{
    color: black
  }
}

ion-footer{
  --ion-background-color: black;
  ion-col{
    color: white;
  }
}
