<ion-content padding class="myContent" color="tertiary">

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <div>
            <ion-icon name="contact"></ion-icon>
            <h5>Your Name</h5>
            <p>Points</p>
            <h5><ion-icon class="life" name="heart" (click)='life()'></ion-icon> 3</h5>
          </div>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <div>
            <ion-icon name="contact"></ion-icon>
            <h5>Friend Name</h5>
            <p>Points</p>
            <h5><ion-icon class="life" name="heart" (click)='life()'></ion-icon> 3</h5>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="item-text-wrap" color="light">
    <ion-card-header>
      <h1>Q.What is the name of the favorite wife of Mohammad S. A. W.?</h1>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button color="dark" class="button button-default button-dark">
              <p>A. Khadeeja</p>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="dark" class="button button-default button-dark">
              <p>B. Ayesha</p>
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="dark" class="button button-default button-dark">
              <p>C. Hajra</p>
            </ion-button>
          </ion-col>
          <ion-col>
            <!-- question.no, question.option4 -->
            <ion-button color="dark" class="button button-default button-dark">
              <p>D. Zainab</p>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
