<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding color="tertiary">

  <ion-icon name="contact"></ion-icon>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Connect Code</ion-label>
          <ion-input value="21e4hh2" disabled></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">
        <ion-item color="tertiary">
          <ion-label position="floating">Full Name</ion-label>
          <ion-input></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="create"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">
        <ion-item color="tertiary">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="create"></ion-icon>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="10">
        <ion-item color="tertiary">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="2">
        <ion-icon name="create"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col><ion-button>Apply Changes</ion-button></ion-col>
      <ion-col><ion-button>Reset</ion-button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
