<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="mailContent">
  <ion-card class="welcome-card">
    <ion-card-content>
      <h1>Deen Trivia</h1>
      <p>Please select the game mode you want to play. Each section has its own set of question with interactive points.</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Continuous Questions.</ion-card-subtitle>
      <ion-card-title>Marathon</ion-card-title>
    </ion-card-header>

    <ion-card-content class="myContent">
      <p>This is the section in which you will constantly get the question and you can check your limit. Every question will be tougher then the before one.</p>
      <ion-button (click)="playmarathon()" button-default>Play</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>All the way up.</ion-card-subtitle>
      <ion-card-title>Single Player</ion-card-title>
    </ion-card-header>

    <ion-card-content class="myContent">
      <p>You will get combine set of 30 questions and at each correct answer you will get some points. If you will be able to give all the correct answers you will be the Deen Trivia Master</p>
      <ion-button (click)="playfakesingleplayer()" class="button button-default">Play</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Tackle them all.</ion-card-subtitle>
      <ion-card-title>Multiplayer</ion-card-title>
    </ion-card-header>

    <ion-card-content class="myContent">
      <p>In fiendly battlefield you and your friend will keep getting similar questions untill any one of you give 3 wrong answers. The one with the first 3 wrong answer losses to the other friend.</p>
      <ion-button (click)="playmultiplayer()" class="button button-default">Play</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
